<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="houses" src="{{ "/assets/img/Houses.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Predicting House Prices </h3>
    <a class="project-link" target="_blank" href="/assets/challenge-notebook.html">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/Project1Photo.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Predicting Subscribers to a Term Deposit </h3>
    <a class="project-link" target="_blank" href="/assets/BankMarketing.html">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="loading" src="{{ "/assets/img/Loading.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Upcoming </h3>
    <a class="project-link" target="_blank" href="/assets/img/Desert.jpg">Stay tuned!</a>
  </div>
</div>
